Interview/bin/
Interview/obj/

Interview/RL.Backend/bin/
Interview/RL.Backend/obj/

Interview/RL.Backend.UnitTests/bin/
Interview/RL.Backend.UnitTests/obj/

Interview/RL.Data/bin/
Interview/RL.Data/obj/

# Rider
.idea/

# Mac OS X
.DS_Store

# Node / React
interview-frontend/node_modules/
interview-frontend/build/
interview-frontend/dist/
